@import "../../properties";
@import "../../abstracts/mixins";

.vue-form-generator {
  .field-input,
  .field-mask {
    margin-bottom: 0;

    .wrapper {
      width: 100%;
    }

    .form-control {
      border: 1px solid rgba($black, 0.3);
      box-sizing: border-box;
      resize: none;
      border-radius: 0;
      padding: 20px;
      font-family: $font1;
      font-style: normal;
      font-weight: 500;
      color: $black;
      user-select: initial;
      touch-action: auto !important;
      mix-blend-mode: normal;
      box-shadow: $shadow;
      border: 1px solid $red;
      background: $dark;
      width: 100%;
      max-width: none;
      display: block;
      height: 1.5em;
      color: $white;

      &:before, &:after {
        user-select: initial;
      }

      @include placeholder {
        line-height: 1.5em;
        mix-blend-mode: normal;
        text-indent: 0;
        transition: text-indent 300ms;
        opacity: 1;
        font-family: $font1;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: rgba($white, 0.8);
        text-shadow: none;
      }

      &:focus {
        @include placeholder {
          text-indent: -300%;
        }
      }
    }
  }

  .form-group {
    label {
      color: $white;
      text-shadow: 0 0 5px $black;
    }
  }
}
.v--modal {
  input {
    touch-action: auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    user-select: initial;
    mix-blend-mode: normal;

    &:before, &:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

