@import "../../../assets/scss/properties";
@import "../../../assets/scss/abstracts/mixins";

.bug-report-tool {
  .form-builder_wrap {
    height: 100%;
  }

  .vue-form-generator {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 0 0 20px;

    .form-custom-group {
      &.image-worker {
        width: 65%;
        height: 100%;
      }

      &.description {
        width: 33%;
        margin-top: 32px;
        max-height: 100%;
        overflow: auto;
        padding: 0 6px 20px 0;

        @include scrollbar();
      }
    }
  }
}

@import "bug-report-tool.unscoped.media.component";
