@import "../../../assets/scss/properties";
@import "../../../assets/scss/abstracts/mixins";

// for laptops and hd monitors
@media #{$laptops} {

}

// for tablets
@media #{$horizontal-tablet} {
}

@media #{$vertical-tablet} {
}

//for mobile
@media #{$horizontal-mobile} {
}

@media #{$vertical-mobile} {
  .comments-list {
    min-height: 200px;
    width: calc(100% - 6px);
    max-width: 100%;
    box-sizing: border-box;
  }
}
