@import "../../assets/scss/properties";
@import "../../assets/scss/abstracts/mixins";

.app {
  position: fixed;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
  right: 0;
}
body.loaded-page {
  overflow: visible !important;
  opacity: 1 !important
}

body.sidebar-mini {
  overflow: hidden;
}

.sidebar-mini .wrapper {
  overflow: hidden;
}
