@import "../../../../../assets/scss/properties";

// for laptops and hd monitors
@media #{$laptops} {

}

// for tablets
@media #{$horizontal-tablet} {
}

@media #{$vertical-tablet} {
}

//for mobile
@media #{$horizontal-mobile} {
  .image-worker {
    &__navigation {
      padding: 5px;
    }

    &__load-methods {
      flex-direction: column;
      align-items: flex-end;
    }

    &__separator {
      display: none;
    }
  }
}

@media #{$vertical-mobile} {

}
